body{
    background-image: url(https://i.pinimg.com/474x/5a/21/16/5a21169856d35476f3cfff9b7cc14e0c.jpg);
    background-size: cover;
    color: aliceblue;
    padding: auto;
    margin: auto;
}
div{
    text-align: center;
}
h1{
    color: bisque;
    display: inline-block;
    border: 2px solid coral;
}
h3{
    display: inline-block;
    color: black;
    text-align: center;
    background-image: url(https://t4.ftcdn.net/jpg/05/32/28/59/360_F_532285934_qyYCy5BpdBGaM1DpL1SvlcvftOMuppCC.jpg);
}
.place{
    border: 5px solid black;
    background-image: url(https://i.pinimg.com/originals/fe/22/17/fe2217dfb126e95fb01eeab28175e217.png);
    width: 1000px;
    height: 600px;
    text-align: center;
    display: inline-block;
    justify-content: center;
}
button{
    text-align: center;
    background-color: aquamarine;
}
